@{
  Layout = "_Layout";
}

@model PierresSweets.Models.Treat

<h4>Add a new treat</h4>

@using (Html.BeginForm())
{
  @Html.Label("Treat Name")
  @Html.TextBoxFor(model => model.TreatName, null, new { @class = "form-control"})

  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description , null, new { @class = "form-control"})

  @Html.LabelFor(model => model.Price)
  @Html.TextBoxFor(model => model.Price, null, new { @class = "form-control", @type="number", @onchange="setTwoNumberDecimal", @min="0", @max="10", @step="0.25", @value="0.00"})
  <div>
    @Html.Label("Select A Flavor")
    @Html.DropDownList("FlavorId", "-select flavor-")
  </div>

  <input type="submit" value="Add New Treat" class="btn btn-success mt-5" />
}
<p>@Html.ActionLink("< Back to All Treats", "Index", "Treats", null, new { @class = "btn btn-dark mt-3"})</p>