@{
  Layout = "_Layout";
}

@model PierresSweets.Models.Treat

<h2>Edit</h2>

<h4>Edit treat: @Html.DisplayFor(model => model.TreatName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.LabelFor(model => model.TreatName)
  @Html.EditorFor(model => model.TreatName , null, new { @class = "form-control"})

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description , null, new { @class = "form-control"})

  @Html.LabelFor(model => model.Price)
  @Html.EditorFor(model => model.Price, null, new { @class = "form-control", @type="number", @onchange="setTwoNumberDecimal", @min="0", @max="10", @step="0.25", @value="0.00"})

  @Html.Label("Select a Flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" class="btn btn-success" />
}

<p>@Html.ActionLink("Back to All Treats", "Index")</p>