@{
  Layout = "_Layout";
}

@using PierresSweets.Models

<h1>Pierre's Sweet and Savory Treats</h1>
<div class="row">
  <div class="col-6">
    <p>@Html.ActionLink("View All Flavors", "Index", "Flavors", null, new { @class = "btn btn-dark"})</p>
    @foreach (Flavor flavor in Model["Flavors"])
    {
      <li>@Html.ActionLink($"{flavor.FlavorName}", "Details", new {id = flavor.FlavorId})</li>
    }
  </div>
  <div class="col-6">
    <p>@Html.ActionLink("View All Treats", "Index", "Treats", null, new { @class = "btn btn-dark mt-5"})</p>
    @foreach (Treat treat in Model["Treats"])
    {
      <li>@Html.ActionLink($"{treat.TreatName}", "Details", new {id = treat.TreatId})</li>
    }
  </div>
</div>
<div class="button-group">
  <p>@Html.ActionLink("Create An Account", "Index", "Register", null, new { @class = "btn btn-dark"})</p>
  <p>@Html.ActionLink("Log In", "Index", "Login", null, new { @class = "btn btn-dark"})</p>
  <p>@Html.ActionLink("See My Fvorites", "Favorites", "Treats", null, new { @class = "btn btn-dark"})</p>
</div>
