@{
  Layout = "_Layout";
}

@using PierresSweets.Models
<div class="button-group">
  <div class="row">
    <div class="col-4">
      <p>@Html.ActionLink("Create Account", "Register", "Account", null, new { @class = "btn btn-dark"})</p>
    </div>
    <div class="col-4">
      <p>@Html.ActionLink("Log In", "Login", "Account", null, new { @class = "btn btn-dark"})</p>
    </div>
    <div class="col-4">
      <p>@Html.ActionLink("See My Fvorites", "Favorites", "Treats", null, new { @class = "btn btn-dark"})</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card splash-page">
      <p>@Html.ActionLink("View All Flavors", "Index", "Flavors", null, new { @class = "btn btn-dark"})</p>
      @foreach (Flavor flavor in Model["Flavors"])
      {
        <li>@Html.ActionLink($"{flavor.FlavorName}", "Details", "Flavors", new {id = flavor.FlavorId})</li>
      }
    </div>
  </div>
  <div class="col-6">
    <div class="card splash-page">
      <p>@Html.ActionLink("View All Treats", "Index", "Treats", null, new { @class = "btn btn-dark"})</p>
      @foreach (Treat treat in Model["Treats"])
      {
        <li>@Html.ActionLink($"{treat.TreatName}", "Details", "Treats", new {id = treat.TreatId})</li>
      }
    </div>
  </div>
</div>
<em id="quote">-Because life is sweet-</em>
